GEMINI_API_KEY=your_gemini_api_key_here
ES_URL=your_elasticsearch_url_here
ES_API_KEY=your_elasticsearch_api_key_here
ES_CLOUD_ID=your_elasticsearch_cloud_id_here
STRIPE_SECRET_KEY=your_stripe_secret_key_here
ADMIN_FCM_TOKEN=your_admin_fcm_token_here
