# Environment
**/.env.json
**/.env
**/.env.local
functions/.env*
!**/.env.example.json
!functions/.env.example

# Firebase
**/google-services.json
**/GoogleService-Info.plist
**/firebase-adminsdk*.json

# Build artifacts
**/build/
releases/
*.apk
*.aab
*.ipa

# Flutter
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/flutter_export_environment.sh

# Node
functions/node_modules/
functions/lib/

# IDE
.idea/
.vscode/
*.iml
